# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Audio outputs & exports
output/*.wav
!output/.gitkeep

# Environment & IDE
.venv/
venv/
ENV/
.idea/
.vscode/
.DS_Store
.dotnet/
.output/
.dist/

# Backups & Archives
*.tar.gz
*.zip

# Build artifacts, installers & large binaries
build/
dist/
*.dmg
*.pkg
*.spec
*.pyz
*.dylib
*.so
*.app
*.exe
